.container_12
{

}
nav{background:;
}
nav li
{
display:inline;
margin-left:0;
margin-right:0;
position:relative;
margin-top: 10px;
}
li a{
  color: black;
  text-decoration: none;
  padding:20px;
  font-size:25;
  font-family:sans-serif;
  padding-left:7;
  text-decoration: none;
}
aside
{
background:;
}
.primary
{
background:;
position:relative;
left:-10px;
}
header
{
  margin-top:-1;
  overflow:hidden;
background:darkorange;
position:fixed;

width:71.25%;
font-family: "monotype corsiva";
font-size: 50;
}

.footer {
width: 100%;
float: left;

}


.use
{
  position: absolute;
  bottom:30px;
  left: :50px;
  font-family:fantasy;
  colour:black;
  font-size: 10px;
  letter-spacing:2px;


}
.title
{
  text-align: justify;
}
